@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* League of Legends colors */
:root {
  --lol-blue: #137CBD;
  --lol-red: #D0021B;
  --lol-yellow: #FFD700;
  --lol-green: #2ECC71;
  --lol-gray: #808080;
}

/* League of Legends fonts */
body {
  font-family: "Roboto", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Additional styles specific to your League of Legends app */
.background {
  background-image: url('./assets/bg.png');
  /* blurr the background img */
  -webkit-filter: blur(5px);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* add an inner shadow */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

/* Add any additional styling for the container and content */
.background .blurr {
  width: 100%;
  height: 100vh;
  /* Add other styles as needed */
}